.food-header{
  position: sticky;
  top: 0;
  z-index: 3;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
}
.navbar li{
  list-style: none;
  cursor: pointer;
  padding: 0 10px;
}
.foodCot{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
}
.foodCard{
  margin-bottom: 10px;
  display: flex;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px ;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.foodCard h1{
  font-family: "Cherry Bomb One", cursive;
  color: rgb(227, 227, 147);
}
.foodCard p{
  width: 300px;
  padding-bottom: 10px;
}
.foodCard img{
  width: 30vw;
}
.foodCard button{
  margin-top: 8px;
  padding: 10px 20px;
  border-radius: 5px;
  color: rgb(232, 232, 116);
  background-color: transparent;
  border: 1px solid  rgb(232, 232, 116);
  cursor: pointer;
}
.foodCard button:hover{
  background-color:  rgb(232, 232, 116);
  color: #fff;
}